<section class="application section" id="application">
  <div class="container">
    <div class="application__inner">
      <div class="application__info">
        <h2 class="title application__title">Скачайте мобильное приложение</h2>
        <p class="application__info-text">
          Рестораны, которые вы любите - в ваших руках. Устанавливайте
          приложение и заказывайте еду в любом удобном месте.
        </p>

        <ul class="launchers">
          <li class="launchers__items">
            <a
              class="launchers__item"
              href="#"
              target="_blank"
              rel="noopener noreferrer"
            >
              <img
                class="launchers__link"
                src="images/app-store.jpg"
                alt="App Store"
                width="120"
                height="40"
              />
            </a>
          </li>
          <li class="launchers__items">
            <a
              class="launchers__item"
              href="#"
              target="_blank"
              rel="noopener noreferrer"
            >
              <img
                class="launchers__link"
                src="images/google-play.jpg"
                alt="Google Play"
                width="135"
                height="40"
              />
            </a>
          </li>
        </ul>
      </div>

      <div
        class="application__advertisement"
        style="background-image: url('images/advertisement.jpg')"
      ></div>
    </div>
  </div>
</section>
